<div class="container-fluid">
    <h2 class="text-muted">Dashboard <small>Status dos Alertas</small></h2>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="card card-danger card-inverse">
                <div class="card-header card-danger">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-xs-right">
                            <div class="huge">13</div>
                            <div>Alertas!</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-red">
                    <a class="text-danger" href="javascript:void(0);">
                        <span class="pull-xs-left">Ver detalhes</span>
                        <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false">
  
      

    </sebm-google-map>
    </div>
</div>
